//variables
$primary: red;
$secondary: yellowgreen; 
$error: tomato;
$info: gold;
$white: #FFF;
$dark: #333;

//spacing
$base-padding: 1em;
$base-margin: 1em;

//borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1rem;